body {
  width: 100%;
  overflow-x: hidden;
  background-color: black;
  height: 100%;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #3ec05f;
  border-radius: 3.5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cfffd2;
}

#logo img {
  width: 120px;
  height: 120px;
}

@media (min-width: 1000px) {

 .heading-size-change {
  font-size: 30px;
}
}

@media (min-width: 790.98px) {

.heading-size-change {
  font-size: 20px;
}
}

@media (max-width: 790.98px) {

.heading-size-change {
  font-size: 15px;
}
}

@media (max-width: 662px) {
.heading-size-change {
  font-size: 14px;
}
}

@media (min-width: 870px) {
  .heading-size-change {
    font-size: 20px;
  }
}

#Homepage {
  width: 100%;
}

@media (min-width: 1000px) {
  #Pokemon-box {
    background-color: #3ec05f;
    border-radius: 20px;
    padding: 25px;
    height: 878px;
    width: 49%;
    padding-top: 150px;
  }

  

  .pokemon-img {
    z-index: 6;
    margin-right: -440px;

    height: 30%;
    margin-left: 231px;
  }

  #bubble-img {
    height: 85%;

  }

  .quiz-title {
    background-color: #74c692;
    color: #cfffd2;
    font-family: "Montserrat", sans-serif;
    border-radius: 33px;
    font-size: 54px;
    height: 100%;
    font-weight: 700;
  }

  .input_area {
    background-color: #1f6332;
    color: #cfffd2;
    border-radius: 33px;
    font-size: 54px;
    height: 80%;
    width: 100%;
    font-family: "Roboto Slab", serif;
  }
  
  .input-box {
    width: 100%;
    margin: 25px;
  }

  .accent-img {
    width: 60%;
    height: 60%;
  }

  .first-row {
    z-index: 8;
    margin-bottom: -200px;
    width: 97%;
  }
}

@media (max-width: 1000px) {

  #bubble-img {
    height: 350px;
    width: 350px;
  }

  .pokemon-img {
    z-index: 6;
    margin-right: -260px;
    width: 140px;
    height: 132px;
    margin-left: 120px;
  }

  #logo {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #Pokemon-box {
    background-color: #3ec05f;
    border-radius: 20px;
    width: 100%;
    padding: 25px;
  }
  .quiz-title {
    background-color: #74c692;
    color: #cfffd2;
    font-family: "Montserrat", sans-serif;
    border-radius: 12px;
    font-size: 20px;
    height: 70px;
    font-weight: 700;
    padding: 0px 6px;
  }

  .input_area {
    background-color: #1f6332;
    color: #cfffd2;
    border-radius: 12px;
    font-size: 20px;
    height: 80%;
    width: 100%;
    min-width: 130%;
    font-family: "Roboto Slab", serif;
  }

  .input-box {
    width: 100%;
    margin: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .first-row {
    width: 100%;
  }

  #logo img {
    width: 70px;
    height: 70px;
  }

  .accent-img {
    width: 70%;
    height: 70%;
  }
}

.row-box2 {
  width: 100%;
  padding: 0px;
  height: 100%;
}

.row {
  padding: 0px;
}

#logo-container {
  padding: 0px;
}

#quiz-box {
  height: 100%;
}

#pokemon-box {
  height: 100%;
}

.restart_btn { 
  display: none; 
  background-color: #1f6332; 
  font-size: 1.5rem; 
  padding: 10px; 
  border: #1f6332 1px solid;
  box-shadow: black 5px 8px 5px; 
  color: #cfffd2;
  border-radius: 5px;
  margin-bottom: 10px;
} 

.content-scrollbar-overflow-container {
  overflow-y: scroll;
  overflow: auto;
  width: 80%;
}

::placeholder {
  color:#cfffd2;
  text-align: center;
  vertical-align: middle;
  font-family: "Roboto Slab", serif;
}