body {
  width: 100%;
  overflow-x: hidden;
  background-color: black;
  height: 100%;
}

#logo img {
  width: 120px;
  height: 120px;
}

@media (min-width: 1000px) {

 .heading-size-change {
  font-size: 30px;
}
}

@media (min-width: 790.98px) {

.heading-size-change {
  font-size: 20px;
}
}

@media (max-width: 790.98px) {

.heading-size-change {
  font-size: 15px;
}
}

@media (max-width: 662px) {
.heading-size-change {
  font-size: 14px;
}
}

@media (max-width: 768px) {
  #logo {
    margin-top: 10px;
  }
}


@media (min-width: 870px) {
  .heading-size-change {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  #logo {
    margin-bottom: 10px;
  }
}

#Homepage {
  width: 100%;
}

@media (min-width: 430px) {
  #Pokemon-box {
    background-color: #3ec05f;
    border-radius: 20px;
    padding: 25px;
    height: 878px;
    width: 49%;
    padding-top: 150px;
  }

  .pokemon-img {
    z-index: 6;
    margin-right: -440px;

    height: 30%;
    margin-left: 231px;
  }

  #bubble-img {
    height: 85%;

  }

  .quiz-title {
    background-color: #74c692;
    color: #cfffd2;
    font-family: "Montserrat", sans-serif;
    border-radius: 33px;
    font-size: 70px;
    height: 100%;
    font-weight: 700;
  }

  .first-row {
    z-index: 8;
    margin-bottom: -200px;
    width: 97%;
  }
}

@media (max-width: 430px) {

  #bubble-img {
    height: 350px;
    width: 350px;
  }

  .pokemon-img {
    z-index: 6;
    margin-right: -260px;
    width: 140px;
    height: 132px;
    margin-left: 120px;
  }

  #Pokemon-box {
    background-color: #3ec05f;
    border-radius: 20px;
    width: 100%;
    padding: 25px;
  }
  .quiz-title {
    background-color: #74c692;
    color: #cfffd2;
    font-family: "Montserrat", sans-serif;
    border-radius: 12px;
    font-size: 22px;
    height: 70px;
    font-weight: 700;
    padding: 0px 4px;
    margin-right: -21px;
    width: 80%;
    
  }
  .first-row {
    width: 100%;
  }

  #logo img {
    width: 70px;
    height: 70px;
  }
}

.row-box2 {
  width: 100%;
  padding: 0px;
  height: 100%;
}

.row {
  padding: 0px;
}

#logo-container {
  padding: 0px;
}

.accent-img {
  width: 60%;
  height: 60%;
}

#quiz-box {
  height: 100%;
}

#pokemon-box {
  height: 100%;
}